<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart</title>
    {% for module in context.modules %}
        <link rel="stylesheet" href="{{ module.style }}">
    {% endfor %}
    {% for module in context.modules %}
        <link rel="stylesheet" href="{{ module.script }}">
    {% endfor %}
</head>
<body>
    <div class="grid-container">
        {% for item in context.grid.items %}
            <div class="grid-item">
                {% set moduleTemplatePath = '@'~item.module~'/item.twig' %}
                {% include moduleTemplatePath %}
            </div>
        {% endfor %}
    </div>
</body>
</html>